body {
  font-family: "Times New Roman", "Times", serif;
  font-size: 16px;
  line-height:1.5;

  display: grid;
  grid-template-columns: 300px;
  grid-template-areas:
    "header header"
    "main    main"
    "footer footer";
  grid-gap: 18px;

max-width: 960px;
margin: 0 auto;
}
.grid div{
  border: 2px solid rbg(255,13,13);
  border-radius: 4px;
  background-color: rgba(143,211,255,0.8);
}

h1{
  margin: 2;
}


h2{
  margin-top:0;
}

header{
  grid-area: header;
  padding:=18px;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  padding-left:15px;
}


footer p{
  margin;0;
}

header,
footer{
  background-color: #eee;

}

section{
  background-color: #ddd;
  padding 18px;
}
